{% extends "./structure.html" %}
{% block content %}
    <div class="alert alert-warning" role="alert">
      These tutorials assume a basic understanding of Computer Science terms. We will open up a <a href="{{ url_for('glossary') }}">glossary</a> soon for these very terms.
    </div>
    <div class="container">
        {% for section in sections %}
            <h1>{{ section.title }}</h1>
            <p class="code-description" style="background-image: linear-gradient(to right, {{ gradient[0] }}, {{ gradient[1] }});">{{ section.description }}</p>
            <div class="content">
                {{ section.content|safe }}
            </div>
        {% endfor %}
    </div>

{% endblock %}