nav {
}
.black {
    background: black !important;
}
.code-description {
    border-radius: 5px;
    background: #ccc;
    color: black;
    padding: 5px;
    width: fit-content;
}
#header {
    margin-top: -10px;
    min-height: 500px;
    width: 100%;
}
#emoji-big {
    font-size: 30vw;
}
#emoji-text {
    margin-top: 15vw;
}