{% extends "structure.html" %}
{% block content %}
    <div class="container">
        <div class="card-group">
        {% for member in members %}
            <div class="card">
                {# <img class="card-img-top" src=" member.image " alt="Card image cap"> #}
                <div class="card-body">
                  <h5 class="card-title">{{ member.name }}, {{ member.role }}</h5>
                  <p class="card-text">Grade: {{ member.grade }}</p>
                  <p class="card-text">{{ member.bio }}</p>
                </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}