{% extends "structure.html" %}
{% block content %}
    <div class="container">
    <h1>Harris Beg</h1>
        <button type="button" class="btn btn-primary">
          Email <a class="badge badge-danger" href="mailto:harrisbegca@gmail.com">harrisbegca@gmail.com</a>
        </button>
        <button type="button" class="btn btn-primary">
          Website <a class="badge badge-info" href="https://harrisbeg.com">harrisbeg.com</a>
        </button>
    {% from "_formhelpers.html" import render_field %}
        <form method=post>
          <dl>
            {{ render_field(form.sender) }}
            {{ render_field(form.title) }}
            {{ render_field(form.message) }}
          </dl>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}