{% extends "structure.html" %}
{% block content %}
    <div class="container-fluid black animated fadeIn" id="header">
    <div class="row">
      <div class="col text-light wow animated slideInLeft" id="emoji-big">
        <i class="material-icons" style="font-size: 30vw;">code</i>
      </div>
        <div class="col text-light wow animated bounceInUp" id="emoji-text">
            <h1>
                <span class="align-middle">We code. So do you. But you want more. So do we. This site is aimed at delivering "more."</span>
            </h1>
        </div>
    </div>
</div>
<div class="container-fluid bg-warning animated fadeIn" id="header">
    <div class="row">
        <div class="col text-dark wow animated bounceInUp" id="emoji-text">
            <h1>
                <span class="align-middle">...or you don't, and you just need a little direction. We can do that too.</span>
            </h1>
        </div>
      <div class="col text-dark wow animated slideInRight" id="emoji-big">
                 <i class="material-icons" style="font-size: 30vw;">help</i>
      </div>
    </div>
</div>
    <div class="container-fluid bg-primary fadeIn" id="header">
    <div class="row">
        <div class="col text-light wow animated slideInLeft" id="emoji-big">
                 <i class="material-icons" style="font-size: 30vw;">beenhere</i>
      </div>
        <div class="col text-light wow animated bounceInUp" id="emoji-text">
            <h1>
                <span class="align-middle">...but we're here for you. Just look around through this treasure trove of information (that we wish we had).</span>
            </h1>
        </div>
    </div>
</div>
{% endblock %}